{% extends 'account/welcome.html' %}

{% load cache %}

{% block title %}
SignUp
{% endblock title %}

{% block content %}
    {% cache 300 signup_page %}
    <div class="signup_div">
        <h2 align="center">Форма регистрации на сайте</h2>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Зарегистрироваться" class="button_signup">
        </form>
    </div>
    <p align="center"><b><a href="{% url 'login' %}">Войти на сайт</a></b></p>
    {% endcache %}
{% endblock content %}
